body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.hover-underline {
   border-bottom: 1px dotted #03334E;
   text-decoration: none;
}
.my-title {
   display: inline-block;
/*   padding-left: 4rem; */
   color: #03334E; 
}
.my-color{
   color: #03334E;
}
