img {
  max-width: 100%;
  max-height: 100%;
}

iframe {
  border: none;
}

.tooltip-inner {
  font-size: 1.5rem;
}

.hover-underline {
   border-bottom: 1px dotted #03334E;
   text-decoration: none;
}
