    <div class="modal fade" id="assumptionsModal" tabindex="-1" role="dialog" aria-labelledby="assumptionsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" style="color:#004CA3;" id="assumptionsModalLabel">Résumé des hypothèses</h4>
            <button type="button" class="close my-0 py-0" data-dismiss="modal" aria-label="Fermez">
              <i class="fas fa-window-close" style="color:#004CA3;" aria-hidden="true"></i>
            </button>
          </div>

<!-- we use col sizes 3 and 8 (instead of 3 and 9) due to padding forcing dd over to next line on Safari in Bootstrap 3 -->
          <div class="modal-body">
            <dl class="row">
              <dt class="col-sm-3">A.1</dt>
              <dd class="col-sm-8">
    Pendant la quarantaine, les personnes sont tenues à l’écart les unes des autres, de manière à prévenir toute contamination croisée.
              </dd>

              <dt class="col-sm-3">A.2</dt>
              <dd class="col-sm-8">
    Les personnes présentant des symptômes de COVID19 sont isolées, indépendamment des résultats au test PCR.
              </dd>

              <dt class="col-sm-3">A.3</dt>
              <dd class="col-sm-8">
    La prévalence ponctuelle est constante.
              </dd>

              <dt class="col-sm-3">A.4</dt>
              <dd class="col-sm-8">
    Une fraction (40 %) des personnes qui contractent la COVID19 restent asymptomatiques même si elles sont contagieuses.
              </dd>

              <dt class="col-sm-3">A.5</dt>
              <dd class="col-sm-8">
    Le test PCR a un taux de faux négatifs constant de 30 % pour les cas asymptomatiques et présymptomatiques.
              </dd>

              <dt class="col-sm-3">A.6</dt>
              <dd class="col-sm-8">
    Le fait d’obtenir un résultat faussement négatif à un test PCR n’augmente pas le risque d’obtenir un autre résultat faussement négatif aux tests subséquents.
              </dd>

              <dt class="col-sm-3">A.7</dt>
              <dd class="col-sm-8">
    L’infection comporte une période présymptomatique, dont la durée suit une distribution lognormale avec &mu; = 1,621 et &sigma; = 0,418.
              </dd>

              <dt class="col-sm-3">A.8</dt>
              <dd class="col-sm-8">
    La phase symptomatique des cas légers suit une distribution gamma avec une moyenne de 10 jours et un écart-type de 3 jours.
              </dd>

              <dt class="col-sm-3">A.9</dt>
              <dd class="col-sm-8">
    La période de contagion des cas symptomatiques légers suit une distribution gamma avec une moyenne de 4,59 jours et un écart-type de 1,74 jour.
              </dd>

              <dt class="col-sm-3">A.10</dt>
              <dd class="col-sm-8">
    La durée de l’infection des cas asymptomatiques correspond à la période présymptomatique et à la période de contagion des cas symptomatiques légers.
              </dd>
            </dl>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermez</button>
            <!-- a href="#" role="button" class="btn btn-info disabled">More information</a -->
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="changesModal" tabindex="-1" role="dialog" aria-labelledby="changesModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" style="color:#004CA3;" id="changesModalLabel">Journal des modifications</h4>
            <button type="button" class="close my-0 py-0" data-dismiss="modal" aria-label="Close">
              <i class="fas fa-window-close" style="color:#004CA3;" aria-hidden="true"></i>
            </button>
          </div>

<!-- we use col sizes 3 and 8 (instead of 3 and 9) due to padding forcing dd over to next line on Safari in Bootstrap 3 -->
          <div class="modal-body">
            <dl class="row">
              <dt class="col-sm-3">28/09/2020</dt>
              <dd class="col-sm-8">
    (<strong>A.4</strong>) La fraction des personnes qui contractent la COVID19 et qui restent asymptomatiques même si elles sont contagieuses:<br><mark>Changer de 20 % à 40 %.</mark>&nbsp;<a class="font-weight-bolder" data-toggle="collapse" href="#log28092020A4">(raison)</a>
    <div class="collapse" id="log28092020A4">
      <div class="card card-body">
        Le valeur a été revue à la hausse pour tenir compte de l'évolution des données qui suggèrent que davantage d'infections qu'on ne le pensait auparavant sont asymptomatiques ou paucisymptomatiques et ne sont donc pas détectées sur la base de symptômes cliniques. Ce changement est conforme à la <a href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/planning-scenarios.html" target="_blank">meilleure estimation actuelle</a> du CDC américain pour la planification de la pandémie. Par rapport à la valeur précédente, ce changement augmente la probabilité de ne pas détecter un cas.
      </div>
    </div>
              </dd>
            </dl>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermez</button>
            <!-- a href="#" role="button" class="btn btn-info disabled">More information</a -->
          </div>
        </div>
      </div>
    </div>

    <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
    </script>

