    <div class="modal fade" id="assumptionsModal" tabindex="-1" role="dialog" aria-labelledby="assumptionsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" style="color:#004CA3;" id="assumptionsModalLabel">Summary of assumptions</h4>
            <button type="button" class="close my-0 py-0" data-dismiss="modal" aria-label="Close">
              <i class="fas fa-window-close" style="color:#004CA3;" aria-hidden="true"></i>
            </button>
          </div>

<!-- we use col sizes 3 and 8 (instead of 3 and 9) due to padding forcing dd over to next line on Safari in Bootstrap 3 -->
          <div class="modal-body">
            <dl class="row">
              <dt class="col-sm-3">A.1</dt>
              <dd class="col-sm-8">
    During quarantine, individuals are kept away from each other, so they cannot cross-contaminate.
              </dd>

              <dt class="col-sm-3">A.2</dt>
              <dd class="col-sm-8">
    Individuals with COVID-19 symptoms are isolated, regardless of their PCR test results.
              </dd>

              <dt class="col-sm-3">A.3</dt>
              <dd class="col-sm-8">
    Point prevalence is constant.
              </dd>

              <dt class="col-sm-3">A.4</dt>
              <dd class="col-sm-8">
    A fraction of individuals (40%) who catch COVID-19 remain asymptomatic despite being contagious.
              </dd>

              <dt class="col-sm-3">A.5</dt>
              <dd class="col-sm-8">
    The PCR test has a constant false negative rate of 30% for asymptomatic and pre-symptomatic cases.
              </dd>

              <dt class="col-sm-3">A.6</dt>
              <dd class="col-sm-8">
    Getting a false negative in a PCR test does not increase the risk of false negative in subsequent tests.
              </dd>

              <dt class="col-sm-3">A.7</dt>
              <dd class="col-sm-8">
    Infected individuals have a pre-symptomatic phase, the duration of which follows a log-normal distribution with &mu; = 1.621 and &sigma; = 0.418.
              </dd>

              <dt class="col-sm-3">A.8</dt>
              <dd class="col-sm-8">
    The symptomatic phase for mild cases follows a gamma distribution with a mean of 10 days and a standard deviation of 3 days.
              </dd>

              <dt class="col-sm-3">A.9</dt>
              <dd class="col-sm-8">
    The infectious phase for mild symptomatic cases follows a gamma distribution with a mean of 4.59 days and a standard deviation of 1.74 days.
              </dd>

              <dt class="col-sm-3">A.10</dt>
              <dd class="col-sm-8">
    Asymptomatic cases last as long as the pre-symptomatic and infectious phases of mild symptomatic cases.
              </dd>
            </dl>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!-- a href="#" role="button" class="btn btn-info disabled">More information</a -->
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="changesModal" tabindex="-1" role="dialog" aria-labelledby="changesModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" style="color:#004CA3;" id="changesModalLabel">Log of changes</h4>
            <button type="button" class="close my-0 py-0" data-dismiss="modal" aria-label="Close">
              <i class="fas fa-window-close" style="color:#004CA3;" aria-hidden="true"></i>
            </button>
          </div>

<!-- we use col sizes 3 and 8 (instead of 3 and 9) due to padding forcing dd over to next line on Safari in Bootstrap 3 -->
          <div class="modal-body">
            <dl class="row">
              <dt class="col-sm-3">28/09/2020</dt>
              <dd class="col-sm-8">
    (<strong>A.4</strong>) The fraction of individuals who catch COVID-19 and remain asymptomatic despite being contagious:<br><mark>Change from 20% to 40%.</mark>&nbsp;<a class="font-weight-bolder" data-toggle="collapse" href="#log28092020A4">(rationale)</a>
    <div class="collapse" id="log28092020A4">
      <div class="card card-body">
        The figure was revised upwards to reflect changing evidence that suggests more infections than previously thought are asymptomatic or paucisymptomatic and hence are not detected based on clinical symptoms. This change is consistent with the US CDC <a href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/planning-scenarios.html" target="_blank">current best estimate</a> for pandemic planning. Compared to the previous value, this change increases the likelihood of not detecting a case.
      </div>
    </div>
              </dd>
            </dl>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!-- a href="#" role="button" class="btn btn-info disabled">More information</a -->
          </div>
        </div>
      </div>
    </div>

    <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
    </script>

