<!doctype html>
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Bootstrap tables -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{ url_for('static',filename='js/bokeh.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bokeh-widgets.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bokeh-tables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bokeh-gl.min.js') }}"></script>

    <script type="text/javascript">
      Bokeh.set_log_level("info");
    </script>

    {{ bokeh_script | safe }}
  </head>

  <body>

<main role="main" class="container px-0">

        <div class="container-fluid px-0">

          <div class="container">
            <p class="font-weight-bold my-title"><span data-toggle="tooltip" data-animation="true" data-delay="100" title="Les valeurs sont exprimées sous forme de pourcentage avec un chiffre significatif selon la précision estimée" class="hover-underline">Probabilité</span> de rater au moins une personne infectée dans un groupe de <span id="myTitleGroupSize">100</span> avec une prévalence de <span id="myTitlePrevalence">1</span> %</p>
          </div>

          <div class="row">

            <div class="col-md-9">
              {{ bokeh_div["figure"] | safe }}
            </div>

            <div class="col-12 col-md-3">

              <div class="row">
                <div class="col-4 col-md-12">
                  <label class="small text-primary" for="groupSize">Taille du groupe</label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-hashtag"></i></button>
                      <div class="dropdown-menu">
                        <button class="dropdown-item" type="button" onclick="groupDropdown(10)">10</button>
                        <button class="dropdown-item" type="button" onclick="groupDropdown(25)">25</button>
                        <button class="dropdown-item" type="button" onclick="groupDropdown(50)">50</button>
                        <button class="dropdown-item" type="button" onclick="groupDropdown(100)">100</button>
                        <button class="dropdown-item" type="button" onclick="groupDropdown(250)">250</button>
                        <button class="dropdown-item" type="button" onclick="groupDropdown(500)">500</button>
                        <button class="dropdown-item" type="button" onclick="groupDropdown(1000)">1000</button>
                      </div>
                    </div>
                    <input type="text" class="form-control" id="groupSize" placeholder="Taille du groupe" aria-label="Taille du groupe" onchange="updateGroupSize()">
                  </div>
                </div>
                <div class="col-4 col-md-12">
                  <label class="small text-secondary" for="pointPrevalence">Prévalence ponctuelle</label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-percentage"></i></span>
                    </div>
                    <input type="text" class="form-control" id="pointPrevalence" placeholder="Prévalence ponctuelle" aria-label="Prévalence ponctuelle" onchange="updatePrevalence()">
                  </div>
                </div>
                <div class="col-4 col-md-12">
                  <label class="small text-danger" for="groupSize">Région sociosanitaire <span data-toggle="tooltip" data-animation="true" data-delay="100" title="La sélection d'une région permet de trouver la dernière valeur de prévalence ponctuelle à partir de la carte d'estimation de la prévalence ponctuelle COVID-19" class="hover-underline">(optionnelle)</span></label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-danger dropdown-toggle" type="button" data-toggle="dropdown"><i class="fab fa-canadian-maple-leaf"></i></button>
                      <div class="dropdown-menu">
<!--                        <button class="dropdown-item" type="button" onclick="provinceDropdown('NL')">Newfoundland and Labrador</button> -->
                        <div class="dropleft">
                          <button class="btn dropdown-toggle" data-toggle="dropdown">Terre-Neuve-et-Labrador</button>
                          <div class="dropdown-menu">
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNewfoundlandandLabrador')">L'Agrégat de NL</button>
<div class="dropdown-divider"></div>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNLCentral')">Central</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNLEastern')">Eastern</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNLLabrador-Grenfell')">Labrador-Grenfell</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNLWestern')">Western</button>
                          </div>
                        </div>
<!--                        <button class="dropdown-item" type="button" onclick="provinceDropdown('PE')">Prince Edward Island</button> -->
                        <div class="dropleft">
                          <button class="btn dropdown-toggle" data-toggle="dropdown">Île-du-Prince_Édouard</button>
                          <div class="dropdown-menu">
<!-- <button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaPrinceEdwardIsland')">L'Agrégat de PE</button>
<div class="dropdown-divider"></div> -->
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaPEIPrinceEdwardIsland')">Île-du-Prince-Éduouard</button>
                          </div>
                        </div>
<!--                        <button class="dropdown-item" type="button" onclick="provinceDropdown('NS')">Nova Scotia</button> -->
                        <div class="dropleft">
                          <button class="btn dropdown-toggle" data-toggle="dropdown">Nouvelle-Écosse</button>
                          <div class="dropdown-menu">
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNovaScotia')">L'Agrégat de NS</button>
<div class="dropdown-divider"></div>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNovaScotiaZone1-Western')">Zone1-Western</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNovaScotiaZone2-Northern')">Zone2-Northern</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNovaScotiaZone3-Eastern')">Zone3-Eastern</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNovaScotiaZone4-Central')">Zone4-Central</button>
                          </div>
                        </div>
<!--                        <button class="dropdown-item" type="button" onclick="provinceDropdown('NB')">New Brunswick</button> -->
                        <div class="dropleft">
                          <button class="btn dropdown-toggle" data-toggle="dropdown">Nouveau-Brunswick</button>
                          <div class="dropdown-menu">
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNewBrunswick')">L'Agrégat de NB</button>
<div class="dropdown-divider"></div>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNewBrunswickZone1(Monctonarea)')">Zone1-Moncton</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNewBrunswickZone2(SaintJohnarea)')">Zone2-Saint John</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNewBrunswickZone3(Frederictonarea)')">Zone3-Fredericton</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNewBrunswickZone4(Edmundstonarea)')">Zone4-Edmundston</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNewBrunswickZone5(Campbelltonarea)')">Zone5-Campbellton</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNewBrunswickZone6(Bathurstarea)')">Zone6-Bathurst</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNewBrunswickZone7(Miramichiarea)')">Zone7-Miramichi</button>
                          </div>
                        </div>
<!--                        <button class="dropdown-item" type="button" onclick="provinceDropdown('QC')">Quebec</button> -->
                        <div class="dropleft">
                          <button class="btn dropdown-toggle" data-toggle="dropdown">Québec</button>
                          <div class="dropdown-menu">
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaQuebec')">L'Agrégat de QC</button>
<div class="dropdown-divider"></div>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaQuebecAbitibi-Témiscamingue')">Abitibi-Témiscamingue</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaQuebecBas-Saint-Laurent')">Bas-Saint-Laurent</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaQuebecCapitale-Nationale')">Capitale-Nationale</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaQuebecChaudière-Appalaches')">Chaudière-Appalaches</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaQuebecCôte-Nord')">Côte-Nord</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaQuebecEstrie')">Estrie</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaQuebecGaspésie-Îles-de-la-Madeleine')">Gaspésie-Îles-de-la-Madeleine</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaQuebecLanaudière')">Lanaudière</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaQuebecLaurentides')">Laurentides</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaQuebecLaval')">Laval</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaQuebecMauricie')">Mauricie et Centre-du-Québec</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaQuebecMontréal')">Montréal</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaQuebecMontérégie')">Montérégie</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaQuebecNord-du-Québec')">Nord-du-Québec</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaQuebecNunavik')">Nunavik</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaQuebecOutaouais')">Outaouais</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaQuebecSaguenay')">Saguenay-Lac-Saint-Jean</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaQuebecTerres-Cries-de-la-Baie-James')">Terres-Cries-de-la-Baie-James</button>
                          </div>
                        </div>
<!--                        <button class="dropdown-item" type="button" onclick="provinceDropdown('ON')">Ontario</button> -->
                        <div class="dropleft">
                          <button class="btn dropdown-toggle" data-toggle="dropdown">Ontario</button>
                          <div class="dropdown-menu">
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntario')">L'Agrégat de ON</button>
<div class="dropdown-divider"></div>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioAlgoma')">Algoma</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioBrant')">Brant</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioChatham-Kent')">Chatham-Kent</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioDurham')">Durham</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioEastern')">Eastern</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioGreyBruce')">Grey Bruce</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioHaldimand-Norfolk')">Haldimand-Norfolk</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioHaliburtonKawarthaPineridge')">Haliburton Kawartha Pineridge</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioHalton')">Halton</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioHamilton')">Hamilton</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioHastingsPrinceEdward')">Hastings et Prince Edward</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioHuronPerth')">Huron Perth</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioKingstonFrontenacLennox&Addington')">Kingston Frontenac Lennox et Addington</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioLambton')">Lambton</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioLeedsGrenvilleandLanark')">Leeds Grenville Lanark</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioMiddlesex-London')">Middlesex-London</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioNiagara')">Niagara</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioNorthBayParrySound')">North Bay Parry Sound</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioNorthwestern')">Nord-Ouest</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioOttawa')">Ottawa</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioPeel')">Peel</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioPeterborough')">Peterborough</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioPorcupine')">Porcupine</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioRenfrew')">Renfrew</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioSimcoeMuskoka')">Simcoe Muskoka</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioSouthwestern')">Sud-Ouest</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioSudbury')">Sudbury</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioThunderBay')">Thunder Bay</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioTimiskaming')">Timiskaming</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioToronto')">Toronto</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioWaterloo')">Waterloo</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioWellingtonDufferinGuelph')">Wellington-Dufferin-Guelph</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioWindsor-Essex')">Windsor-Essex</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaOntarioYork')">York</button>
                          </div>
                        </div>
<!--                        <button class="dropdown-item" type="button" onclick="provinceDropdown('MB')">Manitoba</button> -->
                        <div class="dropleft">
                          <button class="btn dropdown-toggle" data-toggle="dropdown">Manitoba</button>
                          <div class="dropdown-menu">
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaManitoba')">L'Agrégat de MB</button>
<div class="dropdown-divider"></div>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaManitobaInterlake-Eastern')">Entre-les-Lacs et Est</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaManitobaNorthern')">Nord</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaManitobaPrairieMountain')">Prairie Mountain</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaManitobaSouthernHealth')">Sud</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaManitobaWinnipeg')">Winnipeg</button>
                          </div>
                        </div>
<!--                        <button class="dropdown-item" type="button" onclick="provinceDropdown('SK')">Saskatchewan</button> -->
                        <div class="dropleft">
                          <button class="btn dropdown-toggle" data-toggle="dropdown">Saskatchewan</button>
                          <div class="dropdown-menu">
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaSaskatchewan')">L'Agrégat de SK</button>
<div class="dropdown-divider"></div>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaSaskatchewanCentral')">Central</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaSaskatchewanFarNorth')">Far North</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaSaskatchewanNorth')">North</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaSaskatchewanRegina')">Regina</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaSaskatchewanSaskatoon')">Saskatoon</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaSaskatchewanSouth')">South</button>
                          </div>
                        </div>
<!--                        <button class="dropdown-item" type="button" onclick="provinceDropdown('AB')">Alberta</button> -->
                        <div class="dropleft">
                          <button class="btn dropdown-toggle" data-toggle="dropdown">Alberta</button>
                          <div class="dropdown-menu">
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaAlberta')">L'Agrégat de AB</button>
<div class="dropdown-divider"></div>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaAlbertaCalgary')">Calgary</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaAlbertaCentral')">Central</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaAlbertaEdmonton')">Edmonton</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaAlbertaNorth')">North</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaAlbertaSouth')">South</button>
                          </div>
                        </div>
<!--                        <button class="dropdown-item" type="button" onclick="provinceDropdown('BC')">British Columbia</button> -->
                        <div class="dropleft">
                          <button class="btn dropdown-toggle" data-toggle="dropdown">Colombie-Britannique</button>
                          <div class="dropdown-menu">
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaBritishColumbia')">L'Agrégat de BC</button>
<div class="dropdown-divider"></div>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaBCFraser')">Fraser</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaBCInterior')">Interior</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaBCIsland')">Island</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaBCNorthern')">Northern</button>
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaBCVancouverCoastal')">Vancouver Coastal</button>
                          </div>
                        </div>
<!--                        <button class="dropdown-item" type="button" onclick="provinceDropdown('YT')">Yukon</button> -->
                        <div class="dropleft">
                          <button class="btn dropdown-toggle" data-toggle="dropdown">Yukon</button>
                          <div class="dropdown-menu">
<!-- <button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaYukon')">L'Agrégat de YT</button>
<div class="dropdown-divider"></div> -->
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaYukonYukon')">Yukon</button>
                          </div>
                        </div>
<!--                        <button class="dropdown-item" type="button" onclick="provinceDropdown('NT')">Northwest Territories</button> -->
                        <div class="dropleft">
                          <button class="btn dropdown-toggle" data-toggle="dropdown">Territoires du Nord-Ouest</button>
                          <div class="dropdown-menu">
<!-- <button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNorthwestTerritories')">L'Agrégat de NT</button>
<div class="dropdown-divider"></div> -->
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNWTNWT')">Territories du Nord-Ouest</button>
                          </div>
                        </div>
                        <!-- button class="dropdown-item" type="button" onclick="provinceDropdown('NU')">Nunavut</button -->
                        <div class="dropleft">
                          <button class="btn dropdown-toggle" data-toggle="dropdown">Nunavut</button>
                          <div class="dropdown-menu">
<button class="dropdown-item province-sub" type="button" onclick="provinceDropdown('CanadaNunavutNunavut')">Nunavut</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <input type="text" class="form-control" id="province" placeholder="Sélectionnez" aria-label="Province" disabled>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="starter-template">
              {{ table | safe }}
          </div>

        </div>

<!-- this modal is only triggered through JS if there is an error with the region/point prevalence selection -->
<div class="modal fade" id="noPPModal" tabindex="-1" role="dialog" aria-labelledby="noPPModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color:#004CA3;" id="noPPModalLabel">Health region</h5>
        <button type="button" class="close my-0 py-0" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-window-close" style="color:#004CA3;" aria-hidden="true"></i>
        </button>
      </div>

      <div class="modal-body">
        <p class="modalReason"></p>
        <p>Veuillez sélectionner une autre région sociosanitaire ou fournir manuellement la valeur de la prévalence ponctuelle.</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermez</button>
      </div>
    </div>
  </div>
</div>

</main>

<script src="{{ url_for('static',filename='client/iframeResizer.contentWindow.min.js') }}"></script>

<script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

<script>
  function groupDropdown(x) {
    var grpinp=document.getElementById("groupSize");
    var titlegrp=document.getElementById("myTitleGroupSize");
    grpinp.value=x;
    titlegrp.innerHTML=grpinp.value;
  }
  function provinceDropdown(x) {
    var provinp=document.getElementById("province");
    var previnp=document.getElementById("pointPrevalence");
    var titleprev=document.getElementById("myTitlePrevalence");
    provinp.value=x;
    $.get("selectprov",
          {province:provinp.value},
          function(response){
            // manually toggle display of the error in point prevalence modal if bad response
            var modal=$('#noPPModal');
            if (response) {
              if (response!="0") {
                // good value of point prevalence so update previnp to kick off changes
                previnp.value=response;
                titleprev.innerHTML=previnp.value;
                provinp.value=provinp.value.replace('Canada','');
              } else {
                // "0" response means point prevalence value of zero was fetched
                modal.find('.modal-title').text(provinp.value.replace('Canada',''));
                modal.find('.modal-body .modalReason').text("La région sociosanitaire sélectionnée a une prévalence ponctuelle négligeable.");
                modal.modal('show');
                provinp.value="Sélectionnez";
              }
            } else {
              // no response means error fetching point prevalence
              modal.find('.modal-title').text(provinp.value.replace('Canada',''));
              modal.find('.modal-body .modalReason').text("Une erreur s'est produite lors du tirage de la prévalence ponctuelle pour la région sociosanitaire sélectionnée.");
              modal.modal('show');
              provinp.value="Sélectionnez";
            }
          })
  }
  function updateGroupSize() {
    var grpinp=document.getElementById("groupSize");
    var titlegrp=document.getElementById("myTitleGroupSize");
    titlegrp.innerHTML=grpinp.value;
  }
  function updatePrevalence() {
    var previnp=document.getElementById("pointPrevalence");
    var titleprev=document.getElementById("myTitlePrevalence");
    var provinp=document.getElementById("province");
    titleprev.innerHTML=previnp.value;
    provinp.value="Sélectionnez";
  }
// Untoggle all submenus (provinces) when a new submenu is chosen
$('.dropdown-menu button.dropdown-toggle').on('click', function(e) {
  if (!$(this).next().hasClass('show')) {
    $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
  }
  var $subMenu = $(this).next('.dropdown-menu');
  $subMenu.toggleClass('show');
  return false;
});
// Untoggle submenu (province) when a region is selected
$('.province-sub').on('click', function(e) {
  $(this).parents('.dropdown-menu').toggleClass('show');
});
</script>

{{ myscripts | safe }}

</body>
</html>
