<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Bootstrap tables -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{ url_for('static',filename='js/bokeh.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bokeh-widgets.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bokeh-tables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bokeh-gl.min.js') }}"></script>

    <script type="text/javascript">
      Bokeh.set_log_level("info");
    </script>

    {{ bokeh_script | safe }}
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Information</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item disabled" href="#">Assumptions</a>
          <a class="dropdown-item disabled" href="#">Model Details</a>
          <a class="dropdown-item disabled" href="#">References</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">About</a>
      </li>
    </ul>
<!--    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

<main role="main" class="container">

  <div class="starter-template">
    {{ titletext | safe }}
    {{ leadtext | safe }}
    {{ modal1 | safe }}
  </div>

        <div class="container-fluid">

          <div class="container">
            <p class="font-weight-bold my-title"><span data-toggle="tooltip" data-animation="true" data-delay="100" title="Values are reported as percentages with one significant digit according to the estimated precision" class="hover-underline">Probability</span> of missing at least one infected case in a group of <span id="myTitleGroupSize">100</span> with a <span id="myTitlePrevalence">1</span>% prevalence</p>
          </div>

          <div class="row">

            <div class="col-md-9">
              {{ bokeh_div["figure"] | safe }}
            </div>

            <div class="col-12 col-md-3">

              <div class="row">
                <div class="col-6 col-md-7">
                  <label class="small text-secondary" for="pointPrevalence">Point prevalence</label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-percentage"></i></span>
                    </div>
                    <input type="text" class="form-control" id="pointPrevalence" placeholder="Point prevalence" aria-label="Point prevalence" onchange="updatePrevalence()">
                  </div>
                </div>
                <div class="col-6 col-md-7">
                  <label class="small text-primary" for="groupSize">Group size</label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-hashtag"></i></button>
                      <div class="dropdown-menu">
                        <button class="dropdown-item" type="button" onclick="groupDropdown(10)">10</button>
                        <button class="dropdown-item" type="button" onclick="groupDropdown(25)">25</button>
                        <button class="dropdown-item" type="button" onclick="groupDropdown(50)">50</button>
                        <button class="dropdown-item" type="button" onclick="groupDropdown(100)">100</button>
                        <button class="dropdown-item" type="button" onclick="groupDropdown(250)">250</button>
                        <button class="dropdown-item" type="button" onclick="groupDropdown(500)">500</button>
                        <button class="dropdown-item" type="button" onclick="groupDropdown(1000)">1000</button>
                      </div>
                    </div>
                    <input type="text" class="form-control" id="groupSize" placeholder="Group size" aria-label="Group size" onchange="updateGroupSize()">
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="starter-template">
              {{ table | safe }}
          </div>

        </div>

  <div class="starter-template">
    {{ endtext | safe }}
  </div>

</main>

<script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

<script>
  function groupDropdown(x) {
    var grpinp=document.getElementById("groupSize");
    var titlegrp=document.getElementById("myTitleGroupSize");
    grpinp.value=x;
    titlegrp.innerHTML=grpinp.value;
  }
  function updateGroupSize() {
    var grpinp=document.getElementById("groupSize");
    var titlegrp=document.getElementById("myTitleGroupSize");
    titlegrp.innerHTML=grpinp.value;
  }
  function updatePrevalence() {
    var previnp=document.getElementById("pointPrevalence");
    var titleprev=document.getElementById("myTitlePrevalence");
    titleprev.innerHTML=previnp.value;
  }
</script>

{{ myscripts | safe }}

</body>
</html>
